/* Basics */
html { -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; text-rendering: optimizeLegibility; height: 100%; padding: 0; margin: 0; }
body { background: linear-gradient(#141414, #191919); font-family: Lato, sans-serif; font-size: 15px; font-weight: 300; color: #fff; height: 100%; padding: 30px 50px; }
