
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Master/_Master.cshtml";
}

<h2>Dashboard</h2>

<div ng-controller="configuration">
    <!-- Using configuration as an example -->
    {{ name }}
</div>